/* font-family: 'Roboto Condensed', sans-serif; */

body{
    background-color: rgb(4, 25, 25);
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    width: 30%;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    margin: auto;
    margin-top: 7rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px #8889EB;

}
input{
    width: 90%;
    padding: .7rem;
    border: 1px solid rgb(114, 113, 113);
    font-size: 1rem;
}
button{
    /* width: 90%; */
    /* height: 42px; */
    cursor: pointer;
    padding: 1rem ;
    background-color: rgb(5, 103, 251);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-top: 4%;
    font-size: 1rem;
}
img{
    margin-top: 11%;
}
@media screen and (max-width: 600px) {
.container{
    width: 70%;
}
input{
    width: 70%;
}
}
